* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cactus {
    max-width: 340px;
    aspect-ratio: 4/2;
    border-radius: 8px;
}

body {

    background-color: #FAFAF9;
    font-family: "Sora", system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    box-shadow: 0px 30px 100px 0px #E5EAF0;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    max-width: min-content;
    padding: 12px;
}

.step {
    background-color: #E6D6FC;
    color: #883AE1;
    border-radius: 12px;
    max-width: 80px;
    text-align: center;
    margin: 8px 0 8px 0;
    font-size:  0.625rem;
    padding: 5px;
    font-weight: 700;
}

.description {
    text-wrap: balance;
    max-width: calc(100vw / 1.4);
    padding:0px 0px 10px  ;
    font-size: 0.875rem;
}

.title {
    font-size:  1.125rem;
    font-weight: 700;
    padding: 10px 0px 8px;
    color: #20293A;
}
.author{
    border-top: 1px solid #E5EAF0;
    padding: 8px 0px 4px;
    font-weight: 200;
    color: #6C727F;
    font-size: 0.75em;
}
